{% extends 'diary/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}{{ diary.title }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}" />
{% endblock %}

{% block content %}
    <div class="post-detail-box">
        <div class="conf">
            <a href="#" class="modify" data-toggle="modal" data-target="#form-modal">
                <span class="far fa-edit"></span>
            </a>
            <a href="{% url 'diary:diary-delete' diary.id %}" class="delete">
                <span class="far fa-trash-alt"></span>
            </a>
            <a href="{% url 'diary:diary' %}" class="back-to-list">
                <span class="fas fa-list"></span>
            </a>
        </div>

        <div class="post-detail">
            <div class="post-title">
                {{ diary.title }}
            </div>
            <div class="post-info">
                <div class="created">created {{ diary.created_at | date:"Y/m/d H:i" }}</div>
            </div>
            <div class="post-content">
                {{ diary.content | safe }}
            </div>
        </div>
    </div>
    {% include 'diary/modals.html' %}
{% endblock %}

