{% extends 'diary/base.html' %}
{% load staticfiles %}

{% block title %}개발일지{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %}
<div class="wrap">
    <div class="note" onclick="click_a(this)">
        <div>개발노트</div>
    </div>
    <div class="diary" onclick="click_a(this)">
        <div>개발일지</div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    var click_a = (el) => {
        var type = $(el).attr('class');
        var url = '';
        if(type == 'diary'){
            url = "{% url 'diary:diary' %}";
        } else if( type == 'note'){
            url = "{% url 'diary:note' %}";
        }
        window.location.href = url;
    }
</script>
{% endblock %}
