<!-- Thei DiaryForm Modal -->
<div class="modal fade" id="form-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                {% if type == 'note' %}
                개발노트 작성
                {% elif type == 'diary' %}
                개발일지 작성
                {% endif %}
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" id="post-form">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.label == 'Content' %}
                            {% if type == 'note' %}
                            <input type="text" name="tags" class="form-control" placeholder="#tag 형식으로 태그를 달아주세요" />
                            {% elif type == 'note-detail' %}
                            <input type="text" name="tags" class="form-control" placeholder="#tag 형식으로 태그를 달아주세요" 
                                value={% for tag in note.tags.all %}#{{tag.name}}&nbsp;{% endfor %} />
                            {% endif %}
                        {% endif %}
                        {{ field | safe }}
                    {% endfor %}
                    <input type="submit" class="btn btn-outline-primary" id="diary-submit"/>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
