{% extends 'diary/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %} 개발노트 {% endblock %}

{% block style %}
<link rel='stylesheet' href="{% static 'css/post.css' %}" />
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
    <div id="new-post-btn">
        <span class="fas fa-plus" data-toggle="modal" data-target="#form-modal"></span>
        <a href="{% url 'diary:diary' %}">
            <span class="fas fa-exchange-alt"</span>
        </a>
    </div>
    {% endif %}

    <div id="page-type"> 
        <h2><a href="{% url 'diary:note' %}" id="note-page">개발노트</a></h2>
        <div id="search-box">
            <input type="text" name="word" placeholder="검색" id="search-word" />
        </div>
    </div>

    {% if notes %}
    <div class="category-box">
        {% for category in category_list %}
            <div class="each-cate">
                <a href="{% url 'diary:note-category' category.name %}">{{ category.name }}</a>
            </div>
        {% endfor %}
    </div>
    <div class="post-list">
        {% for note in notes %}
        <div class="each-post" onclick="show_detail('{{ note.id }}')">

            <div class="post-category">
                [ {{ note.category }} ]
            </div>
            <div class="post-title">
                {{ note.title }}
            </div>
            <div class="post-date">
                <p class="create">Created {{ note.created_at | date:"Y/m/d H:i" }}</p>
                <p class="update">Updated {{ note.updated_at | date:"Y/m/d H:i" }}</p>
            </div>

        </div>
        {% endfor %}
    </div>

    <div class="page-nums">
        {% if notes.has_previous %}
            <a href="?page={{ notes.previous_page_number }}">&laquo;</a>
        {% else %}
            <a disabled>&laquo;</a>
        {% endif %}

        {% for x in notes.paginator.page_range %}  
            {% if x == notes.number %}
                <a disabled>{{ x }}</a>
            {% else %}
                <a href="?page={{x}}">{{ x }}</a>
            {% endif %}
        {% endfor %}

        {% if notes.has_next %}
            <a href="?page={{ notes.next_page_number }}">&raquo;</a>
        {% else %}
            <a disabled>&raquo;</a>
        {% endif %}
    </div>
    {% else %}
    <div class="no-data-msg">
        작성된 노트가 없습니다.
    </div>
    {% endif %}

    {% include 'diary/modals.html' %}
{% endblock %}

{% block script %}
<script>
    var show_detail = (pk) => {
        window.location.href = '/note/detail/'+pk;
    }

    $(document).ready(function(){

        $("#search-word").focusin(function() {
            $("#search-word").css("width", "100%");
        });
        $("#search-word").focusout(function () {
            $("#search-word").css({"width":"50px"});
            $("#search-word").val("");
        });
        $("#search-word").keyup(function(key){
            var word = $("#search-word").val();
            if(key.keyCode==13){
                window.location.href="/note/"+word;
            }
        });
    })
    
</script>
{% endblock %}