{% extends 'diary/base.html' %}
{% load staticfiles %}

{% block title %}{{ note.title }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}" />
{% endblock %}

{% block content %}
    <div class="post-detail-box">
        <div class="conf">
            <a href="#" class="modify" data-toggle="modal" data-target="#form-modal">
                <span class="far fa-edit"></span>
            </a>
            <a href="{% url 'diary:note-delete' note.id %}" class="delete">
                <span class="far fa-trash-alt"></span>
            </a>
            <a href="{% url 'diary:note' %}" class="back-to-list">
                <span class="fas fa-list"></span>
            </a>
        </div>

        <div class="post-detail">
            <div class="post-title">
                <p>{{ note.title }}</p>
            </div>
            <div class="post-info">
                <div class="created">created {{ note.created_at | date:"Y/m/d H:i" }}</div>
                <div class="category">
                    <a href="{% url 'diary:note-category' note.category %}">[{{ note.category }}]</a>
                </div>
                <div class="updated">updated {{ note.updated_at | date:"Y/m/d H:i" }}</div>
            </div>
            <div class="post-content">
                {{ note.content | safe }}
            </div>
        </div>
    </div>
    {% include 'diary/modals.html' %}
{% endblock %}
